# Python
venv/
__pycache__/
*.pyc
.env
task-definition.json
cookies.txt
full_log.txt
# Node / React
node_modules/
dist/
build/
.env.local
.env.development.local
.env.production.local
npm-debug.log*
yarn-debug.log*

# OS
.DS_Store


backend/data/
